@model IEnumerable<RemTestSys.Domain.Models.ResultOfTesting>

@{
    ViewData["Title"] = "Результати проходження тестів";
}

<h2>Результати проходження тесту (@ViewData["TestName"])</h2>
@if (Model.Count() > 0)
{
    <div class="text-end">
        <a asp-action="ClearForTest" class="btn btn-danger">Видалити всі результати</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Учень</th>
                <th>Група</th>
                <th>Дата проходження</th>
                <th>Оцінка</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Student.FullName <a asp-action="Student" asp-route-id="@item.Student.Id" class="link-secondary">&#10157;</a></td>
                    <td>@item.Student.Group.Name <a asp-action="Group" asp-route-id="@item.Student.Group.Id" class="link-secondary">&#10157;</a></td>
                    <td>@item.PassedAt.ToString()</td>
                    <td>@item.Mark.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center text-secondary">Результатів не знайдено</p>
}
