@model RemTestSys.Domain.Models.Test

@{
    ViewData["Title"] = "Видалення тесту";
}

<h2>Видалення тесту</h2>
<p class="text-danger">Ви впевнені, що хочете видалити цей тест? Всі питання, що входять до тесту також будуть видалені!</p>
<div>
    <h4>Тест</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Опис
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Кількість питань
        </dt>
        <dd class="col-sm-10">
            @Model.QuestionsCount
        </dd>
        <dt class="col-sm-2">
            Час на проходження
        </dt>
        <dd class="col-sm-10">
            @Model.Duration
        </dd>
        <dt class="col-sm-2">
            Балів за відповідь
        </dt>
        <dd class="col-sm-10">
            @Model.ScoresPerRightAnswer
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="mb-4">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Видалити" class="btn btn-danger" />
        </div>
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
