@model RemTestSys.Domain.Models.Test

@{
    ViewData["Title"] = "Деталі";
}
<h4>Деталі по тесту '@Model.Name' </h4>
<hr />
<div class="mb-4">
    <dl class="row mb-4">
        <dt class="col-sm-2">
            Опис
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Часу на проходження(сек.)
        </dt>
        <dd class="col-sm-10">
            @Model.Duration
        </dd>
        <dt class="col-sm-2">
            Кількість питань
        </dt>
        <dd class="col-sm-10">
            @Model.QuestionsCount
        </dd>
        <dt class="col-sm-2">
            Максимальна оцінка
        </dt>
        <dd class="col-sm-10">
            @Model.ScoreSum
        </dd>
    </dl>
    <h4>Розподіл питань</h4>
    <hr />
    <div class="mb-4">
        @foreach(var part in Model.MapParts)
        {
            <p>@($"{part.QuestionCount} питань по {part.QuestionCast} балів")</p>
        }
    </div>
    <h4>Доступ</h4>
    <hr />
        <div class="mb-4">
            <a asp-action="OpenAccessToTestForAll" asp-controller="Accesses" asp-route-id="@Model.Id">Відкрити для всіх</a> | 
            <a asp-action="OpenAccessToTestForGroup" asp-controller="Accesses" asp-route-id="@Model.Id">Відкрити для групи</a> | 
            <a asp-action="OpenAccessToTestForStudent" asp-controller="Accesses" asp-route-id="@Model.Id">Відкрити для учня</a>
        </div>
    <h4>Питання тесту</h4>
    <hr />
            @if (Model.Questions.Count() > 0)
            {
                <table class="table table-bordered table-striped table-success">
                    <thead>
                        <tr>
                            <th>
                                Питання
                            </th>
                            <th>
                                Відповідь
                            </th>
                            <th>Балів за відповідь</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var question in Model.Questions)
                        {
                            <tr>
                                <td>
                                    @question.Text
                                </td>
                                <td>
                                    @question.Answer.RightText
                                </td>
                                <td>@question.Cast</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Questions" asp-route-id="@question.Id">Редагувати</a> | 
                                    <a asp-action="Delete" asp-controller="Questions" asp-route-id="@question.Id">Видалити</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-center">В данному тесті немає жодного запитання</p>
            }
            <div class="border p-1">
                <span class="text-primary fw-bold">Створити питання : </span>
                <a class="link-secondary" asp-action="CreateTextAnswer" asp-controller="Questions" asp-route-id="@Model.Id">Текст</a> |
                <a class="link-secondary" asp-action="CreateOneOfFourAnswer" asp-controller="Questions" asp-route-id="@Model.Id">1 з 4</a> |
                <a class="link-secondary" asp-action="CreateSomeAnswer" asp-controller="Questions" asp-route-id="@Model.Id">Декілька варіантів</a> |
                <a class="link-secondary" asp-action="CreateSequenceAnswer" asp-controller="Questions" asp-route-id="@Model.Id">Послідовність</a> |
                <a class="link-secondary" asp-action="CreateConnectedPairsAnswer" asp-controller="Questions" asp-route-id="@Model.Id">Пари</a>
            </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати тест</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
