<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Maksim Kasyanenko" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="site-header">
        <div class="layout between-panel">
            <img src="~/images/site-logo.svg">
            @if (ViewData["Page"].ToString() == "Registration")
            {
                <p>beta</p>
            }
            else
            {
                <nav>
                    <ul class="right-panel">
                        <li class="@(ViewData["Page"].ToString() == "AvailableTests" ? "CurrentPage" : "")"><a asp-action="AvailableTests" asp-controller="Student">Тести</a></li>
                        <li class="@(ViewData["Page"].ToString() == "Results" ? "CurrentPage" : "")"><a asp-action="Results" asp-controller="Student">Результати</a></li>
                        <li><a asp-action="AccountInfo" asp-controller="Account">@ViewBag.StudentFullName</a></li>
                    </ul>
                </nav>
            }
        </div>
    </header>
    <div class="layout content">
        @RenderBody()
    </div>
    <footer class="site-footer">
        <div class="layout between-panel">
            <a href="https://localhost:44345/Redactor/LogIn">Edit</a>
            <span>&copy;2021</span>
            <a asp-action="Home" asp-controller="Editor"><img src="~/images/github-logo.png" /></a>
        </div>
    </footer>
</body>
</html>
