@model IEnumerable<ExamViewModel>
@{
    ViewData["Title"] = "Тести, що необхідно пройти";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Page"] = "AvailableTests";
}
<header>
    <h2>Тести на проходження</h2>
</header>
@if (Model.Count() < 1)
{
    <p>Не знайдено жодного доступного тесту.</p>
}
else
{
    foreach (var testInfo in Model)
    {
        <div class="test-info-block">
            <header class="between-panel">
                <h3>Тест: @testInfo.TestName</h3>
                <span>Остання оцінка: @testInfo.LastMark</span>
            </header>
            <dl>
                <dt>Опис:</dt>
                <dd>@testInfo.TestDescription</dd>
            </dl>
            <dl>
                <dt>Питань в тесті:</dt>
                <dd>@testInfo.CountOfQuestions</dd>
            </dl>
            <dl>
                <dt>Часу на проходження:</dt>
                <dd>@($"{(int)(testInfo.Duration/60)}хв. {testInfo.Duration%60}сек.")</dd>
            </dl>
            <div class="right-panel"><a asp-action="Testing" asp-controller="Student" asp-route-id="@testInfo.TestId" class="primary-button">Пройти</a></div>
        </div>
    }
}


