@model IEnumerable<TestInfoViewModel>
@{
    ViewData["Title"] = "Тести, що необхідно пройти";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Page"] = "AvailableTests";
}
<div class="row">
    <h2 class="w-12">Тести на проходження</h2>
</div>
@if(Model.Count() < 1)
{
    <p>Вам не назначено жодного тесту на проходження</p>
}
else
{
    foreach(var testInfo in Model)
    {
<div>
    <h3>Тест: @testInfo.TestName</h3>
    <p>Опис: @testInfo.TestDescription</p>
    <p>Питань в тесті: @testInfo.CountOfQuestions</p>
    <p>Часу на проходження: @($"{(int)(testInfo.Duration/60)}хв. {testInfo.Duration%60}сек.")</p>
    <div class="row text-c"><a asp-action="Testing" asp-controller="Student" asp-route-id="@testInfo.TestId">Пройти</a></div>
</div>
    }
}


